.history/
env/
.vscode/
*.pyc
*.pyo
__pycache__/
log.txt
kernel.errors.txt
OfflineInstall/
*.mp4
VideoRecordings/
*.log
metrics.html
rknn_env/
rknn-toolkit2/
ultralytics_env/
YoloModelsBackup
YoloModels/
Outputs/
Images/
.eggs/
*.egg-info/
dist/
build/
image/*.img
.env
.venv/
visioncore_frc-*/
/Config/visioncore_frc-*
